product-pool{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.product-tile{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-tile:hover {
  cursor: pointer;
}

.product-tile img {
  width: 100px;
  height: 100px;
}

.product-tile p {
  text-align: center;
}

#modal{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
}

#quantity-modal{
  background-color: #6C2933;
  color: white;
  z-index: 100000;
  padding: 1.5rem;
}

