body {
  background: #eceff1;
  background-image: url("../imgs/background01.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
}

#App{
  width: 100vw;
  height: 100vh;
}

button{
  cursor: pointer;
}

button:disabled{
  cursor: default;
}

product-pool{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.product-tile{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-tile:hover {
  cursor: pointer;
}

.product-tile img {
  width: 100px;
  height: 100px;
}

.product-tile p {
  text-align: center;
}

#modal{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
}

#quantity-modal{
  background-color: #6C2933;
  color: white;
  z-index: 100000;
  padding: 1.5rem;
}

.add-option-error{
  color: #b5b499;
  font-style: italic;
  margin: 1.6rem 0 0 0;
  padding: 0 1.6rem;
}

.add-option{
  display: flex;
  padding: 1.6rem;
}

::placeholder{
  color: #E0E1E1;
}

.big-button{
  background: #D75265;
  border: none;
  border-bottom: 0.6rem solid #a13e4c;
  color: #F2F0CC;
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 4.8rem;
  padding: 2.4rem;
  width: 100%;
}
.big-button:disabled{
  opacity: 0.5;
}

.button{
  background: #D75265;
  border: none;
  border-bottom: 0.3rem solid #a13e4c;
  color: #F2F0CC;
  font-weight: 500;
  padding: 1.2rem;
}

.button--link{
  background: none;
  border: none;
  color: #6C2933;
  padding: 0;
}

.button{
  transition: all ease 300ms;
}

.button:hover{
  transform: scale(1.1);
  opacity: 0.9;
}

.container{
  padding: 0 1.6rem;
}

*{
  margin: 0;
}

.header{
  background: #683D43;
  color: white;
  margin-bottom: 4.8rem;
  padding: 0.8rem 0;
}

.option{
  border-bottom: 1px solid #F2F0CC;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 1.6rem;
}

.widget{
  background: white;
  margin-bottom: 3.2rem;
  box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
}

.widget-header{
  background: #D75265;
  color: #F2F0CC;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
}
